<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
  <link rel="stylesheet" href="/index.css">
  <script src="/index.js" defer></script>
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

  <header>
    <img src="">
    <h1>Bet Helper</h1>

    <nav>
    <a href="http://localhost:3000/">Competities</a>
    <a href="">Teams</a>
    <a href="">Wedstrijden</a>
    <a href="">Favorieten</a> 
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <ul>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>
  </footer>
</html>
