header {
  display: flex;
  align-items: center;
  background-color: rgb(57, 153, 57);
}

h1 {
  font-size: 3em;
}

a {
  padding: 1em;
  
  text-decoration: none;
  color: white;
}

nav {
 margin-top: 1em; 
 display: flex;
 justify-self: end;
 color: white;
}

