{% layout "server/layouts/base.liquid" %}

{% block content %}
<main>
  <section>
   <div class="titel"
   style="background-color: {{ backgroundColour1 }};"> 
    <img src="{{ team.strBadge }}">
    <h2><strong>{{ team.strTeam }}</strong></h2>  
   </div>

   <ul style="background-color: {{ backgroundColour2 }};">
    <li></li>
   </ul>

  </section>
 
</main>
{% endblock %}
